<a href="https://songsfromluna.wordpress.com/sfl-winner-september-2022/"><img src="/assets/img/predicting-the-present/sfl_winner_badge_sep_2022.png" alt="Sep 2022 SFL winner badge"></a>

<blockquote class="twitter-tweet">
    <p lang="en" dir="ltr">AND THE WINNER IS...
        Congrats, 
        @upthebuzzard
        ! Your 48hr #scifi #flashfiction challenge entry impacted on our judges like the 
        @NASA
         #DARTMission on #Dimorphos (yup, we have no shame) - you've smashed both challenges in 2022! 
        Read the winning entry here👇👇
        https://songsfromluna.wordpress.com/sfl-winner-september-2022/
  </p>&mdash; Chris Gathercole (@upthebuzzard) <a href="hhttps://twitter.com/LunaSciFi/status/1574834335647240197">7:52 PM · Sep 27, 2022</a>
</blockquote> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote>
    “The Forgotten One” is an unsettling tale prompted by @SciFiBotPrompt on Twitter. Chris chose “The forgotten one in the village. It’s about thoughts of the dead” and the result is a beautiful piece of sci-fi
</blockquote>
- SONGS FROM LUNA
