<a href="https://songsfromluna.wordpress.com/sfl-winner-may-2022/"><img src="/assets/img/predicting-the-present/sfl_winner_badge_may_2022.png" alt="May 2022 SFL winner badge"></a>

<blockquote class="twitter-tweet">
    <p lang="en" dir="ltr">Happy birthday, Robby the Robot!
        Why are we celebrating Robby’s birthday? Well, it’s a clever (read: tenuous) link to our winning #scifi #flashfiction entry – congrats to 
        @upthebuzzard
        ! Read the winning story here: https://bit.ly/3I4HmSp 
        1/2
  </p>&mdash; Chris Gathercole (@upthebuzzard) <a href="https://twitter.com/LunaSciFi/status/1542907367809056769">5:25 PM · Jul 1, 2022</a>
</blockquote> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>