## The Pretensions

The 'professional', work-related posts are very much a collaboration between myself and a couple of different AI systems. I'm making no claim of "100% human!" in this tranche of content. 

I'm trying to achieve the best understanding I can of a topic, present it in a comprehensible way, with no egregious gaps or assorted misses or misunderstandings, in my own voice. Something that I can be proud of. Definitely not something I lazily offload in its entirety to ChatWhatever and unthinkingly click _SEND_. 

The wording is (almost) all mine. The tone definitely is. I favour the spittle-inflected rant, the borderline rude, angry old man shouts at clouds, approaches. I still enjoy the writing part.

I have found a great delight in achieving a "greater than the sum of the parts" feeling from my AI-enhanced discussions, particularly with Claude Code. Once you coerce Claude (Opus) into not immediately trying to build things, and settle into discussion mode, bouncing ideas off Claude, spin off research, summarising, fan out, fan in, etc, all being captured in a discussion doc... well, the resulting discussions leave me feeling better informed and thinking more clearly about whatever the topic was (or turned out to be). 

There are numerous little rituals we have collaborated towards which leave me feeling confident(ish) that I'm not being led astray. This is vibe-discussing (as no-one is calling it) and I am very happy with it. Would recommend.

These Pretensions posts are by the best *me* I can achieve with the current tech. I stand by them. Mistakes are mine to own. The arguments and points within are what I find personally relevant, interesting, and provocative. I would love to discuss any of these face-to-face with anyone who cares.


There will be a post about this.
