## The Fiction and other Creative Writing

All of the fiction posted on this site was written wholly by me. In fact, most of it dates back to a time when there was no other option beyond asking a friend. 

The hobbyist and observational blog posts, likewise.

All me, and the joy of writing. Oh, and the time-pressures of a [48hr flash fiction competition](/predicting_the_present/2022-10-12-48hrflashfiction2022-the-forgotten-one.html).

See [Predicting the Present](/predicting_the_present#found-foundation-myths) and [children's](/moose_and_goose_stories/a-brief-history-of-moose-and-goose) stories for more details about their respective creative origins.

As for what happens next (with me and fiction), this is where the debate gets interesting and a lot more nuanced. The situation will be made clear as and when.

So far, there is no 'next', yet. If/when it happens, I think I can claim I will be the toughest person to convince about the validity of any use of AI at all. My fiction is deeply, personally, *me*. Anything that messes with that is basically not acceptable, even to the point of me doing no more fiction as a consequence.