<!-- {% if page.credits %}
  {% if page_collection.credits %}
    {% assign credits = page_collection.credits | concat: page.credits %}
  {% else %}
    {% assign credits = page.credits %}
  {% endif %}
{% else %}
  {% assign credits = page_collection.credits %}
{% endif %} -->
{% assign credits = site.credits %}
{% if page_collection.credits %}
  {% assign credits = page_collection.credits %}
{% endif %}
{% if page.credits %}
  {% assign credits = page.credits %}
{% endif %}

{% if credits %}
  <br>...
  <br>Credits
  {% for credit in credits %}
    {{ credit | markdownify }}
  {% endfor %}
{% else %}
{% endif %}
