{% if page.layout != "post" %}
<footer class="site-footer">

  <div class="wrapper">

    <small class="footer-meta">Last updated: {{ site.time | date: "%Y-%m-%d %H:%M" }}</small>

    {% if page.collection %}
      {% assign footer_posts = site[page.collection] | where:"layout", "post" %}
      {% if footer_posts.size > 0 %}
      <br><small class="footer-meta">The collection also available {% include icon-rss.html url="feed.xml" label="via RSS" %}</small>
      {% endif %}
    {% endif %}

    {% assign footer_credits = site.credits %}
    {% if page_collection.credits %}
      {% assign footer_credits = page_collection.credits %}
    {% endif %}
    {% if page.credits %}
      {% assign footer_credits = page.credits %}
    {% endif %}
    {% if footer_credits %}
      <br><small class="footer-meta">Credits: {% for credit in footer_credits %}{{ credit | markdownify | remove: '<p>' | remove: '</p>' }}{% unless forloop.last %}, {% endunless %}{% endfor %}</small>
    {% endif %}

    {% if page_zone != "site" %}
      <p></p>
      <p class="footer-also-by">Also by this author:</p>
      <ul class="footer-also-by-list">
        {% if page_zone != "A" and page_zone != "" %}
          <li><a href="/stories">A Smattering of Stories</a> — fiction, fragments, and other creative writing</li>
        {% endif %}
        {% if page_zone != "B" %}
          <li><a href="/pretensions/">Pretensions</a> — opinionated articles on product, tech, and strategy</li>
        {% endif %}
        {% if page_zone != "C" %}
          <li><a href="/hobbies">Hobbies</a> — hifi, games, and other diversions</li>
        {% endif %}
      </ul>
    {% endif %}

    <h3>NB, this site is always under construction...</h3>
    <img src="/assets/img/general/Construction_of_the_Eiffel_Tower.JPG" alt="The Eiffel Tower was once under construction too." loading="lazy">
    (Image with thanks to <a href="https://commons.wikimedia.org/wiki/Tour_Eiffel">commons.wikimedia.org</a>)
  </div>

</footer>
{% endif %}
