<meta property="og:type"        content="article" />
<meta property="og:title"       content="{{ page.title | default: site.title | escape | strip_html | normalize_whitespace | escape }}" />
<meta property="og:description" content="{{ page.excerpt | default: site.description | markdownify | strip_html | normalize_whitespace | escape }}" />
<meta property="og:url"         content="{{ page.url | replace:'index.html','' | absolute_url }}" />
{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% endif %}
<meta property="article:author" content="{{ site.author }}" />
{% assign og_image = nil %}
{% if page.cover_image %}
  {% assign og_image = page.cover_image %}
{% elsif page.background_image_url %}
  {% assign og_image = page.background_image_url %}
{% else %}
  {% if page.collection %}
    {% assign collection = site.collections | where:"label", page.collection | first %}
    {% if collection.background_image_url %}
      {% assign og_image = collection.background_image_url %}
    {% endif %}
  {% endif %}
{% endif %}
{% unless og_image %}
  {% assign og_image = site.default_background_image_url %}
{% endunless %}
{% if og_image %}
<meta property="og:image"       content="{{ og_image | absolute_url }}" />
{% endif %}
