<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: site.title | escape | strip_html | normalize_whitespace | escape }}" />
<meta name="twitter:description" content="{{ page.excerpt | default: site.description | markdownify | strip_html | normalize_whitespace | escape }}" />
{% include resolve-background-image.html %}
{% assign twitter_image = page.cover_image | default: background_image_url %}
{% if twitter_image %}
<meta name="twitter:image" content="{{ twitter_image | absolute_url }}" />
{% endif %}
