<nav class="top-nav">
  <hr class="top-nav-hr">
  <br>
  <span class="top-nav-collections">
    <a href="/"><span class="site-link">{{ site.title | escape }}</class></a>
    <span class="top-nav-sections">
      {% assign collections = site.collections | sort: 'sequence' %}
      {% for collection in collections %}
        {% if collection.label!="posts" %}
          &nbsp;<span class="nav-collection-divider">|</span>&nbsp;&nbsp;<a class="page-link no-wrap" href="{{ collection.label | relative_url }}">{{ collection.title_abbrev | escape }}</a>
        {% endif %}
      {% endfor %}
      &nbsp;|&nbsp;&nbsp;<a class="page-link" href="/about">about</a>
    </span>
  </span>
  <br><br>
  <hr class="top-nav-hr">
</nav>
