<pre style="font-size: 5px; line-height: 5px; letter-spacing: 0px; font-family: monospace; overflow-x: auto; width: fit-content; margin: 0 auto;">
⠀⠀⠀⠀⠈⠁⠀⠘⠓⠁⢬⠧⢾⠁⠂⠀⠀⠀⠐⠀⠀⠀⠄⠈⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢉⠠⠈⠉
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠃⠀⠠⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠂⠀⠀
⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠇⠀⠀⠀
⠀⠀⡑⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡂⠀⠀⠂⠀⠀⠀⠀⠀⠐⡤⡀⢀⠀⠀⠀⢤⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠈⡈⠠⠘⠁⠀⠀⠄⠀⠄⠀⠄⠁⠀⠀⠈⠃⢀⠀
⠀⠀⠀⢀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠑⣠⠠⠄⠂⠀⢀⠂⢀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠬⠈⠃⠀⠀⠙⠂⠀⢀⣀⠀⠀⢠⡄⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠄⠄⢄⠀⡀⠀⠁⠈⠈⠀⠐⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠁⠀⠀⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⢼⣃⠀⠐⠀⠀⠁⠀⠁⠀⠀⠀⠀⠀⠀⠀⠄⢀⠄⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠩⣁⣾⡛⡁⠀⠀⠀⠀⠀⠀⢀⠃⠈⠘⠈⡀⠂⠀⠠⠁⠂⠀⠠
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠨⠈⠂⠀⠀⠀⠀⠀⠀⠀⠘⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠒⡀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⡀⠀⠀⠀⠀⢀⣤⣤⡀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⢿⣿⣷⡀⠀⠀⣰⠊⣾⣿⣿⡄⠀⠀⢀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⣴⣤⣄⠀⠀⠀⠀⣸⣅⣾⣿⣿⣷⠀⠀⠟⣚⣿⣿⣿⡿⠠⢾⣿⣿⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠗⢚⣻⣿⣿⣇⠀⠀⢰⠿⠋⢿⣿⣿⣿⡀⠀⠈⠋⢁⣿⣿⣿⡟⣲⡾⢽⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢛⣩⠉⢸⣿⣿⣧⣀⠀⣾⣤⣼⣿⣿⣿⣧⡄⠸⣷⣾⣿⣿⣿⣷⣧⣰⣿⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣿⣿⣿⣿⣿⣿⣿⣧⣶⣺⡏⣿⠿⠿⢿⣾⣿⣿⣿⣿⣿⠿⠛⢻⣿⣯
⠀⠀⠀⠀⡀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣾⡟⢩⣭⣹⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣿⣿⣿⣿⣏⢵⣾⢿⣿⣿⡽⢊⠔⣪⠚⢛⣻⣿⣷⡉⠙⠃⢆⣐⠀⠈⣽
⠀⠀⠀⠈⠀⠀⠀⠀⠀⠁⠁⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣇⠀⠁⣸⡇⠀⠀⠀⠀⠀⢀⣤⣤⣀⣈⣯⡿⢿⣿⣿⣿⣿⣿⣿⢿⣡⢊⣾⣷⠱⣨⢼⣿⣿⣧⠀⠀⡈⣿⢀⠀⠌
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⣿⣶⣿⣿⣗⣀⣀⠀⠀⢒⢣⠂⠙⠙⠛⢿⣇⡀⠈⠿⣿⡿⣿⢏⡧⡴⣸⣿⠏⡢⢊⣿⣿⣿⣿⡆⠀⡜⣿⣀⣢⣵
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡄⣠⢤⣤⣤⣀⣀⣀⣀⣤⣴⣾⣆⡉⠻⠟⣩⡿⠋⠉⠑⣄⠩⠆⠠⠆⢀⡀⢸⣿⣷⠈⠣⣿⣧⣿⣼⣷⣴⣿⡿⢠⠐⣸⣿⣿⣿⣿⡇⢀⣸⣿⣿⣿⣿
⠀⠀⠀⠀⢸⣀⣠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣬⣷⣷⣿⣿⣿⣿⣿⡿⣿⣿⣿⣻⢫⣙⠛⣛⡟⢁⠀⠀⠀⣿⠀⠀⣀⣤⡌⠁⠘⢋⣽⣷⣄⣉⣽⣿⢿⣷⣿⣿⠋⡄⠁⣿⣿⣿⣿⣿⣿⢸⣽⣿⣿⣿⣿
⠀⠀⠀⢴⣿⣿⣿⣴⣶⣶⠂⠀⠀⢠⣄⣀⢤⡰⣶⣤⣤⣶⣶⢾⣿⢿⠿⣗⣿⣯⣿⣅⣾⣿⣿⣿⡎⢷⢈⣉⡿⠔⣿⢗⣷⣄⣻⡀⠰⠠⠒⢦⣄⢤⢿⣿⣿⣾⣿⣿⣿⣼⣾⣿⢟⠀⠈⣾⣿⣿⣿⣿⣿⣧⣾⣾⣿⣿⣋⣿
⢀⠀⢄⠸⣿⣿⣧⣸⣿⣿⣷⣼⠞⡹⣿⣷⣯⣿⣷⣿⣉⢜⣿⠾⣘⣿⣷⣿⣿⣿⣽⡾⠟⡫⣿⣿⣿⣮⠿⠋⠀⠘⣘⣼⣿⣿⣿⡇⠀⠀⢀⠅⡀⠰⣿⣿⣿⣿⣿⢏⣿⣿⠟⠉⠂⢉⣤⣿⣿⣿⣿⣿⣿⡿⣽⣿⣿⣿⣿⣿
⣿⣧⣾⣼⣿⣿⣿⣿⣿⣿⣿⣾⣷⣾⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⡿⠍⠀⠀⣾⣿⣿⠟⠁⠀⢀⣤⣦⣿⣿⣿⣿⣿⣷⣴⡶⣾⣮⣷⣶⣿⣿⣿⠟⠣⢨⠟⠁⠀⣭⣐⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣶⢾⣶⣶⠶⣿⣿⣷⣮⣦⣶⣿⣿⣿⣿⣿⡿⠃⠀⢠⣾⡿⠋⠁⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣧⣩⣿⣽⡯⠶⣄⣠⣴⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣯
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣾⣽⣿⣿⣿⣿⣿⣿⣿⣿⠟⠁⠀⡬⠟⠁⠀⢠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣾⠻⣌⣱⣖⣠⣔⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢻⡇⣿⢽⣿⣿
⣿⣿⣿⣿⣿⣿⣻⣽⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻⣿⠿⣿⣿⠿⠟⠝⠃⠀⣴⡿⣿⣄⣄⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣹⣿⣦⢭⣎⣿⣹⣿⣿⡣⢿⡁⠳⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠘⣿⣿⢸⡏⣿
⣿⣿⣿⣿⣿⣿⣿⣾⣿⣯⣿⣽⣿⣿⣿⣿⣿⣿⣿⣯⣹⡿⡅⢳⢒⠊⢁⡞⣝⣛⢿⡟⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⣿⣿⡿⣿⣿⡿⢹⣿⣿⣿⣿⣿⣽⣿⣿⣿⡽⠂⠀⡱⡻⠛⢙⣿⣿⣿⣿⣿⣿⣿⣇⠀⣿⢿⣿⣇⣿
⣿⣿⣿⣿⣿⣿⣿⣻⣿⣮⣥⣭⣿⣿⣵⣾⣷⣶⣿⣿⠿⡷⣿⢰⣴⢷⣿⡷⠯⣁⠙⣛⢧⣿⣿⡿⡏⣛⠟⣿⣿⣿⢛⣿⣷⣿⣾⣿⠷⣾⣿⣿⣾⣿⣿⣿⣿⣿⡟⣿⠀⠀⠀⠑⡀⢺⣿⣿⣿⣿⣿⣿⣿⣷⠠⠙⢸⣿⣿⣿
⣿⣿⣛⣻⣭⣥⣤⣹⣿⣿⣷⣾⣽⣯⣽⣿⣶⣿⣶⣶⣾⣷⣿⣿⣿⣿⡿⢀⠀⠰⣆⢨⢿⣿⢝⡎⢠⣴⣿⣿⣿⢏⣿⣿⢿⣿⣿⣿⣶⣿⣿⣿⢙⣿⣿⣿⣿⣿⣷⣗⢀⣊⢂⡐⡀⣸⣿⣿⣯⣿⣿⣿⣿⣿⣶⣶⣾⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠻⠿⠿⠿⠿⠟⠁⢈⡛⢛⠋⢁⣠⣤⣶⠃⠈⠀⣤⡿⣆⣿⣿⣿⡵⡑⣿⡿⣿⣧⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣼⣿⣿⣿⡏⣿⢼⡇⠈⣉⠈⡉⢹⣟⣏⣯⣟⣟⣿⣿⣿⣿⣿⣿⣧⣽⣿⣿
⣿⣿⣿⣾⣯⣶⣶⣞⣶⣶⣦⣼⣶⣤⣧⣴⣶⣾⣷⣿⣿⣿⣿⣿⣿⠋⠀⠀⢺⣧⣴⣿⣾⡽⠾⢶⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣋⣿⣿⡷⣤⣔⢐⣃⢨⡇⢿⣉⣀⣷⣿⣿⣿⡟⢿⣿⣿⣿⡿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⣿⣯⠅⢾⣿⡅⠀⢀⣼⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⣿⣿⣿⠋⠐⣾⣇⣬⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⣿⡏⢸⡗⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠋⠛⠛⠋⢉⣉⢉⣛⣋⣿⠭⠽⣼⡑⣼⣶⠶⠻⠴⣠⣾⣿⠏⢩⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣴⣿⣿⣋⣸⣥⣿⣆⣋⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢻⡏⢔⣾⣿⡈⢺⡇⣿
⡶⠒⠀⠀⠀⠀⠀⠀⡤⣤⡶⠺⠿⠗⠚⠋⢁⣀⣀⡤⢤⢤⣴⢳⣾⡿⠋⠀⠂⣬⣼⡯⢨⢠⣿⠿⢿⣿⣿⣿⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢡⣾⣷⢰⣿⣷⣴⣾⡧⣿
⣠⣤⣽⣾⣿⡤⣶⣼⣿⣿⣤⣄⠐⠀⠀⢀⠀⠀⠀⢀⣰⣿⣿⣿⠋⠀⠀⣀⣾⣿⡟⢀⡴⣼⣿⠀⠀⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⣿⣿⣿⣿⣿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⣿⣿⣿⣿⣿
⣿⠿⠿⠿⠏⣯⣷⣿⡿⡟⣙⡛⠐⠂⠀⠀⠀⠘⠿⠿⣿⣿⣿⣿⣤⡤⢾⡿⠿⠟⠣⠊⢤⣿⣿⣶⣶⡷⠿⠿⠛⠳⣜⣟⣿⣿⣿⣟⣳⣺⣻⡻⣿⣿⣿⡵⣿⢸⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣛⣿⣿⣿⠻⣿⢿⣿⣿⣿⣿
⣮⣌⣤⣭⣭⣭⡭⣽⢯⣅⠥⠴⠝⠄⠀⠀⠀⠀⠤⠀⣄⠀⠀⠈⠁⠀⠀⠀⠀⠀⠀⢀⣀⡙⠛⠋⠁⠀⠀⠀⠀⠀⠀⠈⠻⣃⣤⣴⣴⣾⣽⣿⣿⣿⣿⣿⣿⣺⡫⣾⣿⣿⣿⣷⣾⣿⣿⣿⣿⣿⣿⣿⣿⡍⣿⣿⣿⡿⣿⣿
⠉⠉⠉⠛⠋⠀⢠⣂⣄⠠⡄⠐⣂⣽⣦⠢⠄⠐⠈⠉⠉⠀⠀⠀⠀⠀⠀⠈⠁⠀⠀⠀⠘⠂⠀⠀⢀⣠⣤⣶⣶⣿⣷⣿⣿⣿⣫⣿⣿⡿⣿⣿⣿⣿⣿⣗⣂⣾⣽⣿⣿⣷⣿⣿⡟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⣭⣼⣿⣿
⣰⣶⢦⡤⢶⣮⣻⠽⠿⠾⠷⠟⠋⠉⠀⠀⣤⢲⣶⣶⣏⣀⠀⠀⠀⠀⠀⠀⠀⠠⡤⣽⣿⣏⡉⠛⠛⠛⠛⠛⠻⠿⠿⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⠟⣋⣹⣿⣯⣿⣻⣟⣁⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣥⣭⣴⣤⣤⣤⣤⣴⣤⣴⣾⣻⣶⣶⣶⣷⣾⣿⣿⣿⣶⣶⣦⢰⢆⣆⣂⣀⡄⠀⡐⣦⣉⢛⡡⠀⠀⠀⠀⠀⠀⣄⣀⣀⡀⠀⠀⠈⠳⠻⡻⠟⠙⡉⠃⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⡯⢭⢽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠽⠟⠛⠉⠛⠋⠉⡉⠉⡀⣠⣯⣯⣯⣽⣿⣄⣈⠐⠰⠴⣶⣿⣿⠷⠶⠖⠲⠄⠀⠀⠂⠛⣻⡿⣿⣿⣛⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⣷⣾⣿⣿⣿⣿⣿⣿⣿⣿
⣋⣉⣃⣉⢋⣙⣟⣿⣻⣿⠿⠿⠿⠏⠈⠉⠉⠀⠁⢀⠀⡠⢓⣀⣝⣱⣿⣷⣤⣤⣤⣄⡠⡔⠲⠂⢒⠶⠷⠉⠉⠀⠤⠔⠚⠋⠀⠀⣠⣾⣿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣾⢿⡿⢿⡛⠏⠉⢉⣁⣠⣤⣦⣠⣶⣶⣶⣶⡾⣿⣿⡶⠿⢻⠿⠤⠴⠿⠟⠀⣂⣚⣃⠀⠀⠀⡀⣄⣀⣐⣁⠠⢠⣀⣀⡒⠉⠉⠀⠀⠀⠀⠀⠈⠀⠀⠈⠉⠙⠋⠚⣛⣻⢛⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⡿⢷⠶⠤⠤⠠⠀⠀⠀⠈⠉⠋⠁⣉⣉⣉⣄⣀⣄⣀⣀⣠⡠⣴⣶⢖⣒⣃⣠⠴⠤⠿⢴⢖⠲⠚⠈⠁⠉⠉⠉⠛⡻⠏⠙⠋⢀⣀⣄⣀⣀⣀⣀⣀⣠⣴⣴⣮⣾⣽⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⠾⣯⣿⣲⣴⣶⣶⣦⣶⡕⠛⠟⣛⢿⣷⣿⡟⢻⠏⠃⠁⠀⠀⠈⠩⠊⠀⠀⠁⠂⠒⠚⠂⠂⠀⠀⠀⠀⠀⣀⣀⣐⣤⣀⣀⣌⣉⣩⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣭⣉⣉⠉⠉⠙⠛⠛⠻⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣷⣦⣆⠁⢉⠉⠩⠍⣭⣭⣤⣶⢾⣋⡁⠀⡤⠔⠂⢀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣀⣤⡀⣠⣶⣻⠶⠷⠿⠿⠟⠛⠳⠿⢛⡿⣿⢿⣾⡯⠽⠻⠟⠟⢿⣿⢿⢿⣿⣷⢿⣾⣶⣾⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠋⠥⠦⠬⠿⠦⢖⠖⡿⠛⠛⠙⠋⠉⣈⣁⣀⣠⣤⣄⠀⠠⣀⣀⣠⣤⣴⣖⢾⡿⠟⠓⠓⢛⠋⠉⠉⢙⡩⣈⠠⡒⢀⠻⢷⣷⠰⠿⠚⣋⣈⣁⣈⡁⠒⠒⠀⠨⠛⠁⠂⠀⣁⣀⣤⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣥⣴⣦⢾⡷⣶⣶⣷⣾⣿⣷⢶⣿⡶⠌⣉⣉⣬⣤⣰⣶⣿⣯⣯⣭⣭⡽⣿⣭⣉⣵⣌⡈⠘⠛⠞⢫⣷⠞⡜⠀⢀⣀⣤⣦⣶⣾⣿⣏⣭⣥⡐⠐⢺⣷⣶⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
</pre>
