{% raw %}
<pre style="font-size: 2.5px; line-height: 3px; letter-spacing: 0px; font-family: monospace; overflow-x: auto; width: fit-content; margin: 0 auto;">
:----------===-======---=---=---------==---::-------------------------:::--:::::::::::::---::::::::::::::::::::::-=-====
:-----------====--==----------------:------:--:----------------------:::::::::::::::::::::::::::::::::::::::::::---=----
:-----------------------:::-:-:::::-::--::---:-:--::--:------------------::::::::::::::::::::::::::::::---:::::----=----
-=-----------------------::---:-:::::::::::::-:::::-:-::-------:----::--::---:::::::---:---:::::-------:--:-------=-----
---------=--------------------:--::::::::-:::--:--::::---:-----::-:::::::::-::::::------------------=-------------------
-=-=--------------------:---------::::::-::-::---------:-------::::::::::----::-:::-:---=----==-------====--=---==------
----------------------::::::::::::::::::::::-::--------:---:----::-::-:---::::-::------------==--=-------=-==-----===-=-
-------------------------:::::::::::::::::-:::--::---:--:----::-----::-----::-----------=-=-----------------------------
:-------------------------------::::::::::-:::--:-:::---------------------------------=----=======--=-------------------
:-:-:---------------------:-------:--::::---:::::-----:----------------------------------====----=----------------------
-----:-::---------------:::--------:-:::::-::::-::-:-------------------------------------=-=--=-------=----==---------:-
:------:----------------:-------:-----::---:-:-:--::::---------:-----------------------------=---=----------------------
:----::::------:---------::-:-::::-:---:--:--:-----:::------------------------------=------------=---=------------------
:--:::---:-:-::--:--------------:::::---:-----:-------:-::----:----------------------------------=--------=-------------
---:::::::--:----:---:-----------:--------------:--:---::--:::::--------------------------------------------------------
-:::::::--::::-:::-:--:--------::-----------------::::::-::::::::::--:::---::---------===---=---------------------------
:::::::::-:------::---:---------:-:-::::::::::::::--:::::-:::::::::::::::::::-------=======-----------=---==--=====-----
::::::::::------:::::--:-::-::-:::::-:-:--:::::::--::::-::------:::::---------------========---------==-----=---==------
::::::::::--::-:::::-::----:::::::-::::::::::::::--:-----------------------------:-----=====---::-------=---------------
::::::::::::::::-:-::----:--:::--:::::::::::::::---:-:::---:---::-----------:::::::--------------::-::--------------===-
:::::::::::::::-::-:::-::::-:::-:::::::::::::::::-::-::::::-:-:-:------:-::::::::::::::::----::-----------------------=-
:::::::::::::--:::::::-:::::-::::-:::::::::::::::::::::::::::::::::--::::::-::::::::::::::::-::::::-:---::--------------
::::::::::--::::-:::::-::::::::::::::-::::::::::::::::::::::::::::::-:------:::::::::::::::::::-::::::-:----:-----------
::---::--:--::::-:::::--:::::-:::::::::::::::::::::::::::.:::::::::::::---------:::::::::::::::-------:-::------:-------
:::------------::--------:::::::::::::::::::::::::::::::::::::::::::::::::-::::::::::::::-::---------------:-::---------
:::---:-------------------:::::-::::::-::::::::::::::::::::::::::-::--:::--:::::::-::::::::::--:-::----:::::------:----:
:::---:--:----------------::::::::------::::::-::::::--:--:::::::::---::::-:::-::::::::::::::-----::-:---:::------------
:::::::::::---:::::----:::-:::::::---------------:::--:-------:-:--:-::::::::::::::::::-::::-:--::-:--::::-----:--:--:-:
:::::::::::--:-:::::::::::::.::::::::--------:::::--:::--:-::::::::::::::::::::::::::::::::::::::::::--::::--::-:::::-::
:-::::::-::--:--:::::::::::::::::::::::----------::::--::::::--::::::::::::::::::::::::::::-:::-+=::::::::-=*=::::::::::
:--::::::::::::--:::::::::::::::::::::-----:-----::::--:::::::::::::::::::::::::::::::-::----=+***+:::::--=+##*-::::::::
-:---:::::::::::::::-::::::::-:::-::-::----:-:::::::::::::::::::::::::::::::::::::::::::::-:++-+**#+:::-+-=+**#*-:--+=+=
----:::::::::::::::::::::::::::-::-:---------::::::::::::::::::::::::::::::::::-==+++-:::::-+==***##-::-==++****--++++*#
-----::::-::::::::::--::::::::::::::::::-::::::::::::::::::::::::::::::::::::-+==++*##-:::-*+=+****#-::--+==****+=-=++**
---::::::-::::::::-:----::-::::::::::::::::::::::::::::::::::::::::::::::::::-=-=++*##*-.:-==:-+#**#*-:-=--=+****===-+##
----:::::::::::::--:::::::::-:::::::::::::::::::::::::::--::::.:::::::::::::::-==-:+****--:=*+==#*##**+:=**+***##*+==+*#
:::::::::::::::::::::::::::--::::::::::::::::::::::::::-::---=--:::::::::::::::=+++*********+++*++#****++*+*******++**++
--::::::::--::::-:::::::::::::::::::::::::::::::::::::---=+=++*-:::::::::::::::-++***++++++***+*+-=-==+*##*===++-----==*
--::---::::----:::::-::::::::::::::::::::::::::::::::::+*+-=+-+-:::::::::::::::=++++=+==+++++#+=---====-+***=:-:-=---:=+
-::-------------------:--:::::::::::::::::::::::::::::-**+:---++::::::::::--:::==+++++++++++*++---++---==+*#*-:---+=-:-=
--::::::::::::::::::::::::::::::::::::::::::::::::::::+***---+*+:::::::-===+=+=++=-==++**++*+===-+*+---==+*##+:--=*=---=
--:::::::::::::::::::::::::::::::::::.:..:......:::::::--++*****------====---===++---==+*+++=+===*#=---+*+**#*::-=*+-++*
--:::::::::::::::::::::::::::....:::::::::::::::::::-=++--=+++=++=--=--=====----=**=-==+*=+++*==+#+----+******-:-+**##**
-:::::--.::::::::::::::::::........:-====+++++++==+***+++=====+=:::::+-------==-=+++=--=++*+++++**----+***#**#=-=+**#++#
::::::-=-==:-:.:::::..::.:::......:======++++=+==+**#+=+=====+=:-::::+=----==-::--=++====+*+==+*#=-=--+***#*##+:+=**#*+*
-::::=+**#=-+==-::::--:::--=-:--=-====+========-=****#====-=+==++===-++:--====-:-++**++++**==+*#*-:-=++**##*#*==+++*#+=+
-::::+***+-+***-:---=*+======+===+====+=========+++***+-==+==-===+=+++*-=----=--==***+*+*++=+**+--::=***##**#*=++****++*
--:-:=****-+*+++=====++======+=-=++===+++++===+==-=+**##===:.:--=+++++*-----==---++*+++*+=*+*=-::--=*####*****==+++****+
+*=+-=****#++++*+===+*++++==+++++++=++=++++===-::=++***+-:::--=****+++*=====+====++*++==-=*=:::-:=+*#*#*****#+++++*****=
+**********++*++====++===++++======+=+++++++=:::-+**+=:.::=++*##***+++++==========++=-.:-=-:-=+***#*##********+*++*+***+
******++*++++++++++=++++++*+++===++++++++++-:::=+*=-:---=+*#*#*****+*++++++=+=====+======++**#*##********#****=++=*+***+
*******+***+*******++++++=+++++++*+++++++=-::-+=-:::-++****+*******+*+++==+=======---=**+**###*######****##***-=*=+=**++
******+++*+++++*+=+++++++*+++++++++++++=-::-++=-::-=***************++++++==+=-=====++*++=+==++******##**#***##=-+=+=+*+*
*+++++++==+=++=++++++++++++==========---:-=+++====+++**********++==+++++*==*+====+==+**==+---==+****##**#****#=-+=+=++=#
+*++++++++++=+====+++++=+++=========---:-+===++=+++#***#*******++*+++*+++==+*+===++++***=+----=++=+#****##***#=-===+++=#
++++++*++++=+======+========+=====-----=+=====+===+****+++*****++*+==++++-=**+=+=+++*+*+++--------=*+*+*##*#*#=--+=+++*#
++++++++++==+=+===++==++===============+=----:==++=**+=-===+***=+=*+++++=+++*+====+*+++==+--------+*+*=+******+----*+=*#
+++++========+++=+=+==++==++===+++++++++=-::==-==++==--==+++**=+++***++*+=++**==+++**++=++--------+*+*++******+=+++++=*#
+++++*+++++++*+++++++***++==+++++=======-=-:-+=-==+=+=-=+*+*+==++*+=+++*******=+++***=*=+===--==+++*++*+***#***+**+=+=*#
++++++*++++*+++===+++++==-:-==-=---===+-:::=+====++=+=--*+=++++*#*********+***=+=++*+=*=+-::---:=*=+=+++=++#**++**+=+=*#
++=+=====-======-=---===========++++++=:::-+===++++++===+++++************+****+=+***+=+=+=----=:-+=+-=--==+***=++*+++=*#
+**+++++++++++++++++++++++++++++++***-::::=+=+==++-::-++******+++*++*+++*+***++++**+==+===+*++++++++++*+*****+--+*+=+=+#
+**+++++++++++**********************+:::.:++=--+++-:::=*++**++++++++++++++**+-++**=--=*====*#***##*####**#***+--**+-==+#
****************+===++-===++++++====--===++==--+++===**+==+*++++++++*+++++#*==+**+-===*====*********#*****+++=-=**--==+#
++++=====+=====--------=-:--------==-=+*=---==++==-=+*++==++=++++++++++++++=+++*+==++=+++++***************=++-=+*=--=++#
==----::------======----:------=====+*=-::-==++=--=*+==+++++=++++++=++++*++*++*+++++++*+++++*****+***##*=-+++==*+++++++#
==--========+====-----------::-=+==+=-:.:-==++-:===*=:.-==+++=+*+++++++++++++*++*+++++*+++**#**#*+***##*=++++=+***++++=#
=++=++++====++====----------=====+++..:-==+++=-===+*=---=++***==+++++*+++=++++++======+++******#*+***##++++*+=***+=++*+*
========+========---::::::-====+++=+====+===----=++****+========++++++========++++====+++++***#++++**#*=+++++==*++++**+*
===-=======++======----::::--:----:--:::..:....::-=++=-:::::::----==--====+==++***+++=++==++***=+=+****#****++=+++*#****
++++++++--==--=-----=------=====--:::::::--:----==-:::::::::------==++++++++++**+++===+==***++++*+*##*+++++++*=+++++=++*
-----=-::-===-==-===+==----:::-:----:-:----::--::-------==++++++++++=====+=++++*+=+====+**+===+++=**#+==++++=++=++==++++
-===========+======---------===----:::::::::--============+==+++++++++++++=++++++++==-=**+=+++==-=**#+==+++++++++++++***
===-=--=--------------====+++====------------====++=-::::::::-----======+=+=++==++=-==+**++++++**********#***#********##
==========+++====++++++++++++++++=========---===-====-:::::::-----::::::-==+==----=+**++*************#**#*++************
+++=+===++++++++++++=+++============-=---=======+++-------===++=+====-:----==++++++++++++++++++++++==+++++=+*++*++**++*+
=============+++=++========----------=-==----========---=======--------:::-==++==+===++++++=++++=+++**++++++++++++++=+++
==-=-======+=++=====-::--------=========+++====-===-=-==------------::::-=++===++=+=++=+++++++++=+++++++++++++++++++++++
======+++=====--=----============+==+=-==++=-====-------:--==--:----------::::----------======+==++++++*++++++++++++**++
++======------===++============-=------------==-==----==========+++==--::::::::::::------=-======++++++++++++**+*+++++++
======-=----------=--==--==-====--=-=+=======---========-----:--==-------====-======+++=+++++++++++++++++++++**+*+++++++
+=======================++=+=====---=====--==---==-=---:::::----------=-===+++++*++++++++======-=====++++++*******+**+++
+=======++==+===--=======---=----------------------:::::::-===+++++=+====+++==++++++==++++=====------===+++************+
+=====-==----=====+===----=------:-:---:-::::------==================-===+++============+===++++=++++++++++*+*+++******+
====================--=----==-----------=====================-=-==========--=-==-=-=--===--------=+++++++*++***********+
-===---=======--=---=========--=======++=========-============-=----=--=============--=--======+++++*++*+*++***********+
+==========++++++==+=============================---==========---======++======--==+==+++*******************************</pre>
{% endraw %}
