{% raw %}
<pre style="font-size: 4px; line-height: 4.5px; letter-spacing: 0px; font-family: monospace; overflow-x: auto; width: fit-content; margin: 0 auto;">
*******+++++++***************#****************###*#########*###############**+*+
****************##**##**#*****##**************#**####################*####**+***
*****************#***#########*#######****#**#####*####******###************+***
****************#*****#######*#***********#######**#####******+******+*****+****
****************###############*********#****##***##**********+*************+++*
*******************#*##########*###***************************+*+***************
**#*********************####*####**************************+++******************
****##**********##********#**##*####********************************************
****#************#**####****#******#****************************+***************
**#####*#**#**********#**************#####**************************************
######*##*##**#******#**#******#######*#############*****+++********************
#######****##****#**#######*#####*####***#######********+++++**************+****
#######*#**###****##############**#*******************#****+********************
##########*#######*#############*#####****#******#########****#**#************+*
##########*###########*######################*######################*#**********
##*####*#######*###############################****#*##########****###**********
##********#******################################*############***#***#**********
##***************######*#**#########*########*###*############***#***###********
#######***###**########*********##*#*****##*##############*##*#####*#*#*##*##**#
#######****##############********#**########################*##*+#####*++#######
#*########*##############********###########################**+=--*##**=:-*##**#
***#####################*****#######################**+++####=+=-:=##++=-:=*+==-
****##*#######**###################################*++=-:=##*=*=---##*++---+++=:
**##########*#**####################################++*+-:+**=*+--:-**==--:-=+-:
######################################**++*##########==-------=-====---==--=+===
*##*###****##*######################*=+++=*##########====++==--=**+++=--*******=
*#*********#**######################=:+#*=+%####****+=++=======**==**+=:=#**=*#*
*#########################%#%%%%####*+===-=****++++++=+*++====+++-+*+==::*#+-*+=
*##################%%%%##*******#*++=++====***++++***+-=**=====+-=**+---:+#=-:--
####+**#######%####%%%%*+++=====+-:-==++++*###+***++#*+==*+=-++--***=---:=*=-:=-
###+---+==###*+#**+**+++++++++++=---++++=+=+++=***++**=--==-=+-:=#*=--:-:=+=-:==
*##*--==-=++++-=+++=++=++=++++++++=--=+*#*+====+**++**=-==-+==+*#*+-::--:===----
===+----===++=======++=+=====+*#*===+*#**=--==-=++++++===***+##++=-::----===--:=
--:-=--============+++=======*#*==**#*=--:--======+++++++**===-::--------====--=
-----=-==--=-==============+##++*#*=--------====+++++++*+-=------:::--:-:++=+=-=
-=================++++++++*#+==+*+=-------=======+=+++++=-++**+=--::-:--:=*=+==-
========++++==++=+++++++***+++==+=--------=======+-=++===-=+***+++----:--=*=+==-
======++++++=++=++++++++++=+***+++-=+++=--========-=++=-====*****+=-=----=**+==:
====+++===================+*#*+*+=+**+=--+=====-==--++=-==+=***+*=--==----=====:
==========++====+**+++*++=*##+=++==+*=====--=-------+==-===+#***+======---=-=+=:
===+++++++++++++++++++===*#%+=++=++++===--------=---==--+=++*++**+++++=--+=-===:
--=======---------------+%##=+*+=+##==---========--+=--+*=++=------------*+-++=:
---=-----==++++++++=++++*+++++*==++=-+===========-=+=-+++=++=----------==*=-*+=-
++**********+*********++==*#*+=+**======+=======-============------::=+=++-=+==-
++++++++==++********+===*##*+==*++=##+==================+===---:---::==-==-====-
++++++++=+++**###*+++===*+++++**+=-==+=++++====+++++==+++===--:-==-:-=====-==---
+++++++=+++****##********#######*+++*####***+++++++==-=++=++---===-----==+==--=-
**+++**+*+*++++********####**#****###*+++=+++++=====-==+++=-=++===:=+=======++==
*+***++++++++*****+++***#####**+++++**++++++===========+++-=+==++---==-======---
+++++++++++++========++++++++++++++*#####****##*++=+++++==---=-------:-=--------
+=+++============+++*++*+++**++++=+***++==+++**##*+=========================-===
+++++++++=++++********+++++++++++++*+*+********#*++++==+========+===============
=++++++++**++*+++++++++++*+++*+++******++**+*****####*#****++++++============-==
+++++******++*+++++++***++++*++*++++++****++++*#*******++++++======-=====--=====
+++++++++++*+++++++++***+++**+******###***+++++++===========+++*++++====------==
=++++++++++++++*********#*************+++++=+++++=+++++++++=+++++++=====--=----=
+++*+++++++++++++++******+++++++++++++++++*+++*++++++***********+=====-=--------
+++++++++++++++++++++++++++++++++**++++++***+++++++++*+++++====-----------------
</pre>
{% endraw %}
