{% raw %}
<pre style="font-size: 4px; line-height: 4.5px; letter-spacing: 0px; font-family: monospace; overflow-x: auto; width: fit-content; margin: 0 auto;">
}|(((|(\t/t/t/|((((((((()|(1[]}[}}))1((|1{{11}??][??----__?[]-_-?-_-??-----[|\|\
[)1{}1{1|||1()({]][[]?[[]{[[[[]][[{{}1()1{[{)}]}[]---+-+__--__---?_-][?+--}{/(11
{(){1{1{11)1{{1}[]}}[]_-?-]]]][]]?]]]][{1{]}}]?]-?}?+_][[{}{[?]]}{)1}}}[1{{1\1){
1||()1(11{{{{1{}-}{}[}]-]-]]?[][}}[[}{}[{[??-??-?[}??]-]}(|()|\()(((|\|(||(\((((
{|1{1)1)){}}1{{[-___-??-]---?]?[[{{{[[}[][[[[-][{[-]}[[}{(||)(\((|1)|(||||||\\\|
}){1)11()1{{{{{{)}}][]-?--?-]-][?]][}[{{[[1(1{{{}}[}}{{{)|((||\|\((((11{}1()111(
[}][}[}{1111{{}[}[[111[[]?-]}]]??[[[[{}[{1}}1{{(11)111{)(|)\\/|((|)(|){1|)}[}{}[
}){[]][}11}{{{{[]][}}[}[}[][[]][]]-]{1{11{[1{{{{))1((1{)(()(((|((|(||(|(({{))1{}
[1}[][[}}[[}{}}1}][[]]]][}[[][[}}{[][}}11{111{{}}111)11(|11(1)|(\|(|(1)){}(()1{)
{{]]]]][][[][[[{[}}{}[][}}}}1{}}}{}}[]]]]][}11{{{{1{1(11)()()11)(())1{1{1))1{)1{
]]---][?][]][[][[{}{[][[]}[}{{{]]]]??][---_-]]_?]]-]}{})|\f/(|11))))()))))(||((1
_-++-]]}{}[]][[[[?[[]-]]?]][-?]-]{]-]][}[]]?--]][}{11)11//fj/(({{((||(|||(|/||((
__++_-?[][[]]][[}[]--?]]-]?]]-??[}][[}{}}{{{111)((1}{{]})(|\|({[[{1{1()}()(|(||)
--__~_----[]]?]]]][]]]]???-??_--[]]?-][[[[][1{{[}]]-?]??]][}}}][[][[}[[[1)1()(\|
??----?]]][]??]]??]??][--???_+_???---_+_-??-?[?--?]]?--?_-_-?]?]]]]][][[[}1{{)11
-][?]]][]]]]?]][]???---?-?_++_-?----_~&lt;_--?-??][}[}][?-??-__??][}}[]]][{}[[}{{{{
-_[[[}{{1}][}[[}[]__?---+_+~+~++_--__++-__-]?]]]][]-]?????-]]][[[]}[}][[[[[[}[}}
-?}[[}[{{1{}{1{{[]?-]]]}]{}??-?-_--][]]--??]][]?][]]]]]??]?]?][}}?[[[]]]}[}}[{[[
--?-???[[[??][[]-?-+-_?[}1111{[[]][][{}1[]][]]]-]?-_?-__-?[--[]]-?][][?[?][]][[]
]]---?]}[[[?-??___+~&lt;+-??[1}{1}}[][[]?]]]]?-?__--_---_-+-???[?-1t]-]?-[tx]-]?-_-
][?????]?]}]-]]-??]?--]]][}[[{}}[--]]--???---_++__+__+++_]?]}(rzOC{__|(cwL|--[[]
}}}-_???------]]]]????]][}}}[]-_-_-__-+_-____++~~-_+[)tf\-_-_cjc0wz~?frzLmz[xzYC
{}[[?][-???-?][[]]-++---???]?-----++_--+--_~_&lt;&lt;~~+_}rjcLpv~~|v(Y0QL?_(//JQQj/jzZ
[{]?-??---?][?[[?]]]???--?----_-____-]?-_&lt;_____+___-/x)xOZr[1u|jOOmL)(cvJQmLufUZ
]]?__--?_--_+-?-?-]??------_+___--_-]?{(\j[~___--?-_]czUQUCJLCYJuXcYCLQXXCJcrnXX
}?][]?][[}[?-[?_-----_-_____+++~~~_~1vxjrv)&lt;__--_--~]vXzcxjnvC0n|1\tfXQU(){1{[{c
[]}}{[[[[{{][[]]]_???-?___+_-++~_+__nZr-[cf&gt;++_-[)|{\vjxvzzzYYv(}vn1|/cwX?[(v}]|
[]____?-_+++~~+_+~+++_+_&lt;&lt;&gt;&lt;&gt;&gt;!i~&lt;&lt;~(jvvYLu[}}{/t/fffvx1\xYzYuj/xOf)\cYZZ(]tU|jv
[]---~+?___~~~~~~&lt;&lt;iii&gt;&lt;]{[1()1{][\xv/\vvnu(1(\\\\(((fLv{(vucczjLY1)jL00mj]nJZ0Q
??-+\1|-?~_~~&lt;i&lt;&lt;&lt;&lt;!!i!}jrjncccujUwJnuf/rx{_~_x){|/\?{fvu|/zCxxJ0()(zL0OwY(vLwXU
]_~/CQU/cn]+_1\]{|/((/\jjrjfjjj/cOL0f/tfntnrj\c(1|t/[1vJJcXJXjUZu_[uJ0mOmvxXJZuX
1??|LLunJYxt/tJujrrujfcftnxxxrxxjfzQ0nr(+}/uvvXf1{\t)|uJcYJrYzx1-}fQZZ00ZcnXCQJC
XzuxJJQJXXzjfuzcunuvxxvxnnuvvx(_}zYYx{_[|nLLYvUvttrfjfvYn|{(r]]\/z0mZOQQ0ccXJ0Zz
J0Z0YJJYzzzcuuuunXzxxjnnuvccn{~1zz|{])uLOZQLXzXznnxrfjjj\((nvXLZZOOO0OOQ0vcvYJOX
LQQQUYJYYJCYUzXXzcczczYczzc/?]tf[~[cU0QJUJCLYYXcxxrf/ft(fJYJLOOOOZZZ00ZOmxxvrzCX
UYYzXvnvuucnuzzzXvrxrxxrff}?tzu/(fYQO0CCJJXvuXcvcjXjtjrjXJfx((rYCLZZ0ZO0mn(vxuuJ
YXcXYcvnxxrrnnxxnxrjfj/\([[xxfvnxzOOOQJCJLcYXvzzn/JXjxvuYQXx)[(rjx0QLOZ0Ov{nxcnQ
zczzXvxrxxjjnxrnrxrjjjf/ftvt()(fjxCYrtrXLJncYuncnuUYrrvUXYnn1{{1[rYUuCQQOX1|rXuw
ccvvxrrnvcccuvcXcvunccvnnux(_}f|rcr()jcUJjnzYYcUzXUUfxvLYcxv||1/|nJUXYCQQLnXuvuZ
XzzYYzYXYcjxvccuj)|xj\1\tn1-]tutxuuj1cYzcvLCYCUCQULJrnzJvvnf]11{xcnnvvz00UX0nrvm
vvuxxjfrxxtff/ffjrrxrxvYX|_&gt;tcjxcxfjrzXzJCJJLQLJYJCLcnJJjvxf|/\1|xjftrcQ0xuJvvnm
UJYYYczYYJCCCCJJJLJLLLJLj&gt;&lt;-ur|fY\&lt;]vYULUXzXXXvzzLQfuUJt(cjtcOLQQQ0O0QO0Q|t0jjnZ
JUJYUCCJJYvtfxf/ttrnxttj)fxrj\(uXf/YCxnYnvzXYYXvuCvfYJjtfcxfnOO00JQOLQJcn)XJ)fnO
f/(1}11)||((\1{{[[11)|/fvc|])tXx(|XcnnnnjcvvvvccUzcYYXzccYXvzQQQLJLZZXfcrtJcxvuQ
fttxxftfnnjt))1)(1{1tnuc)+~1rcu{\xX_+tvXYvXccXXXzvzYYXcuxzzXLO0ZCL0ZmnuUncQYczcC
xjtffxrxnfft([_-?}/frnnn)\frr/(1/zJcnjnxxfjccvurfjxxcurj/nczU0ZCcXCZCucXnnCuvCUJ
xfjrrftnf\\|()}]?[())1[[}?___~_-(tt/[_+~~[}1ffffjxxnXJYxjuxxUCCcvzOOLJUXYrczLUYC
||/f/{|f|/(\fjt|()}{)}{]--]}[]{}1}?]](/rxnrrxxxnunvcUYuxfruQYxrvnXmYjunuvvnvrruz
|\|||\t\t///\(((||//\)1[?-?-?{(/rr/\||ttfrrxvvvucnnuvcuf/rLcxnnjjU0JuzJYYYYYYCL0
xjff/ftjf/ffjnnunuvvvxttt/\/\\/ttr\[~&lt;~+]1}}}]?}tfnj\/\rXYUJUXULLLC0OZLYOQQQQQQQ
xnxxfnuvzcvccnnunjt/|\/|\\\|(/jrxu\(((/jnnjf\|}?-{fnvvcvccvzzvcvnnuXcXnuYvYXUvXX
////tjrxxnjtj\}1(1)))|/\f/xxttf\/t/|\|\(|1{1){[]1jrjxnnrnuvcuucuxvXYzYXzzzzcccXX
nrjjrjft/||t/|ft//fjffjjt|\jj|tft1{1()(/t)(/((1{}?--][]}}1(//fxrxvczXXcXYXYYzUYz
xjjt\(1)1()/j|ft/f\//||(/j/\|\\(f/\\t/|()1tj/\)]{)11))|\fjtrxnnuccYUXzzYYJUYcXXX
xjff/jjfff/(ffjrrfjf/|||///||/((|(1}]__[((//\\/trnvuzXXzcccujf/|///jnccYJLQJJJYX
ujff/f//frr/jft(1(|(1{[[][}}}}1{{)))((/xxxxnjjfjjnxjrftftfxnjrxj/rrncvcYJJYULLJY
/tt|t///ft///\/\\/t|1)))(\/t/fffffftfft//\|///|/\\\\\|||(||(()(|tnzzXXUYCCLQQQQJ
jt//fffrxrxftrf/ffjttjxrxxxrrjtf/(|//fjtt|(|tffjrfjt\(/rfjxvcXXJJUJLJJJJQQQQQ0QJ
</pre>
{% endraw %}
