---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% include get-zone.html %}

    {% unless page_zone == "site" %}
      {% if page.title != "About" %}
        {% assign collection = site.collections | where:"label", page.collection | first %}
        {% if collection %}
          From <a href=".">{{ collection.title }}</a>
        {% else %}
          <a href="/">{{ site.title }}</a>
        {% endif %}
      {% elsif page_zone == "B" %}
        <a href="/pretensions/">Pretensions</a>
      {% else %}
        <a href="/">{{ site.title }}</a>
      {% endif %}

      {% include by-author.html %}
    {% endunless %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% unless page.hide_credits %}
  <div style="text-align:center;">
    {% include credits.html %}
  </div>
  {% endunless %}
</article>
