---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% assign collection = site.collections | where:"label", page.collection | first %}
    {% if collection %}
    From <a href=".">{{ collection.title }}</a>
    {% else %}
    <a href="/">{{ site.title }}</a>
    {% endif %}

    {% include by-author.html %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div style="text-align:center;">
    {% include credits.html %}
  </div>
</article>
