---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.cover_image %}
  <figure class="post-cover">
    <img src="{{ page.cover_image }}" alt="{{ page.title | escape }}" loading="lazy">
    {% if page.cover_image_caption %}<figcaption>{{ page.cover_image_caption }}</figcaption>{% endif %}
  </figure>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <a href=".">{{ page_collection.title_singular }}</a>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="display:none">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% include by-author.html %}
      {% if page.collection != 'posts' %}
        {% unless page.categories contains "story" %}
          , {{ page.date | date_to_long_string }}
        {% endunless %}
        {% include collection_prev_next.html %}
      {% endif %}

    </p>
    {% if page.original_url %}
    <p class="post-meta">Previously published on <a href="{{ page.original_url }}">LinkedIn</a></p>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.categories contains "radio-script" %}<radio-script>{% endif %}
    {{ content }}
    {% if page.categories contains "radio-script" %}</radio-script>{% endif %}

    {% if page.collection != 'posts' %}
      {% if page.categories contains "story" %}
        <p></p>
        <div class="the-end">THE</div>
        <div class="the-end">END</div>
        <p></p>
      {% endif %}
    {% endif %}
  </div>

  {% include share-buttons.html %}

  {% if page.collection != 'posts' %}
  <div class="post-content-details">
    {% include story_details.html %}
  </div>
  {% endif %}
</article>
