---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <!-- <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> -->
      {% assign collection = (site.collections | where:"label", page.collection | first %}
      <a href=".">{{ collection.title_singular }}</a>
      {% if page.author %}
        {% assign author = page.author %}
      {% else %}
        {% assign author = site.author %}
      {% endif %}
      {% if author %}
        by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ author }}</span>
          </span>
      {% endif %}
      {% if page.collection != 'posts' %}
        {% unless page.categories contains "story" %}
          , {{ page.date | date_to_long_string }}
        {% endunless %}
        {% include collection_prev_next.html %}
      {% endif %}

    </p>
  </header>

{% if page.context %}
  <hr>
  <div class="post-context">{{ page.context | markdownify }}</div>
  <hr>
  <br>
{% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    {% if page.collection != 'posts' %}
      {% assign posts = (site[page.collection] | where:"layout", "post" ) %}

      {% if page.categories contains "story" %}
        <p></p>
        <div style="text-align:center;">THE</div>
        <div style="text-align:center;">END</div>
        <p></p>
        {% include story_details.html %}
      {% else %}
        {% if posts.size > 1 %}
          <h3>Other posts</h3>
          {% include collection_prev_next.html %}
        {% endif %}

      {% endif %}
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
