---
layout: page
title: The Moose and Goose Stories
date: 2011-09-30 21:33
author: upthebuzzard
categories: []
permalink: /:collection/index.html
---
Welcome!

Here are some short bedtime stories for kids,
roughly in the age range of <a title="yes, yes, such a large suggested age range may not seem much use, but different ages get different things out of the stories" href="#respond">4-11</a> (or younger ones <a title="The Grey Parrot Stories" href="/grey_parrot_stories/">over here</a>),
to be read aloud by a grown up to help with the occasional long word.
The stories are <a title="how and why are they free?" href="/about/">available for free</a>,
and are ad-free, but please Please <em>PLEASE</em> <a href="#respond">give me some feedback</a> (good or bad, anonymously, briefly, verbosely, doesn't matter,  just let me know).

There is a <a title="A brief history of Moose &amp; Goose" href="a-brief-history-of-moose-and-goose">potted history</a> of how Moose &amp; Goose came to be, but all you really need to know is:
<p></p>
{% include_relative door_sign_include.html %}

<div></div>
And so, to the stories. <em>There are tricky problems to solve</em>...

<p>
	{% assign sorted = (site[page.collection] | where:"layout", "post" | sort: 'sequence') %}
	{% for item in sorted %}
		<ul>
			<li>
				<a href="{{ item.url }}">{{ item.title }}</a>
				{% if forloop.first %}
					<span style="color:#00ff00;"> &lt;-- START HERE</span>
				{% endif %}
			</li>
			<blockquote>{{ item.extract }}</blockquote>
		</ul>
	{% endfor %}
</p>

<p>
	Or <span class="rss-subscribe">subscribe <a href="feed.xml">via RSS</a></span>
</p>
